.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: inherit;
  background-color: whitesmoke;
  gap: 5rem;
  padding: 4em 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.product-card {
  border: 1px solid black;
  /* background-image: linear-gradient(to bottom, #c0c5cf, #979ba5, #6f747d, #4a4e57, #282c34); */
  background: whitesmoke;
  min-width: 300px;
  max-width: 370px;
  height: 470px;
  animation: fromleft 1s ease-out;
}

@keyframes fromleft {
  from {
    transform: translateY(-250%);
  }

  to {
    transform: translateY(0%);
  }
}
.product-card:hover{
  border: 2px solid black;
}

.card-image {
  min-width: 100%;
  max-height: 270px;
  object-fit: cover;
  object-position: middle;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  color: black;
  /* color: #282C34; */
  padding-bottom: .5rem;
  margin: 0;
}

.card-price {
  color: darkgray;
  font-size: 16px;
  padding: .3rem;
  margin: 0;
  font-weight: bold;
}

.price-discount {
  color: coral;
  font-size: 16px;
  padding: .3rem;
  margin: 0;
  font-weight: bold;
}
.flex{
  display: flex;
}
.card-stock {
  font-size: 14px;
  color: #888;
  padding: .3rem;
  margin: 0;
}

.amount{
  padding-bottom: .5rem;
  color: black;
}
.add-to-cart-btn {
  background-color:lightcoral;
  padding: .8rem 1.7rem;
  color: white;
  border: none;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  opacity: .75;
}
.btnAddMinus{
    display: inline-block;
    margin: 0 .5rem;
    border: none;
    font-size: 25px;
    background-color: transparent;
}

.btnAddMinus:hover{
  background-color: #556076;
  cursor: pointer;
}

.amount p{
  display: inline;
  font-size: 20px;
}



