.navbar-page{
  width: 100%;
  padding: 2rem 0;
  background-color:#ECECEC;
  color: white;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px black;
}
.navbar{
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  }


  .nav-links{
    position: relative;
    right: 5.5rem;
  }

  .link{
    text-decoration: none;
    padding: 1rem;
    color: lightcoral;
    cursor: pointer;
    animation: popup 1s ease-in;
  }
  .link:hover{
    background-color: gray;
    opacity: .5;
  }
.p-tag{
  font-size: 13px;
}
  @keyframes popup {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;;
    }
  }

  .sidebar{
    position: fixed;
    right: 0;
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    opacity: .95;
    color: lightgray;
    z-index: 999;
    overflow-y: scroll;
    animation: slidefromright 800ms ease-in;
  }
  @keyframes slidefromright {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  .sidebar h3{
    text-align: center;
    color: lightgray;
    text-shadow: 2px 2px black;
  }
  .sidebar a{
    position: absolute;
    left: 0;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 100%;
    background-color: lightcoral;
    color: white;
    text-decoration: none;
    padding: .4rem .9rem;
  }


  .sidebar a:hover{
    opacity: .6;
  }

.sidebar .img{
  max-width: 150px;
  border-left: solid lightcoral 4px;
  /* border-bottom: solid lightcoral 2px;
  padding-bottom: 3rem; */
  padding-left: 3rem;
}

.cart{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 3rem;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.remove-item{
  padding: .8rem 1rem;
  border: none;
  background-color: lightcoral;
}

.margin{  
  padding: .5rem 0;
  margin: 0;
}

  

  .title{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    color: black;
    text-shadow: 1.5px 1.5px lightcoral;
    animation: slidein 1s ease-in-out;
  }

  .cardCount{
    border: 1px solid lightcoral;
    position: relative;
    right: .2rem;
    bottom: 1rem;
    color: white;
    background-color: lightcoral;
    font-size: 16px;
    border-radius: .8rem;
    padding: 1px 6px;
  }

  .checkout{
    padding: 1rem 4rem;
    border: none;
    font-size: 20px;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    bottom: 0;
    background-color: lightseagreen;
    margin:  1rem 0;
  }
  @keyframes slidein {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }

  @media screen and (max-width: 652px) {
    .navbar{
      display: flex;
      flex-direction: column;
      align-items: center;
      }

      .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
      }
      .navbar-page{
        padding: 1rem 0;
      }
  }

  @media screen and (max-width: 802px) {
          .cart{
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
          }
          .sidebar .img{
            max-width: 200px;
            padding-top: 1rem;
            border-top: solid lightcoral 4px;
            border-left: none;
            padding-left: 0;
          }
  }






 







